<!DOCTYPE html>
<html lang="en">
	<head>
		{% load static %}
        <meta charset="utf-8">
		<link href="/static/style/stylesheet.css" rel="stylesheet">
		<meta name="description" content="Be a Spotlight page accommodates applications from community
			members to be featured on the spotlight page. Includes space for entering relevant personal
			info to be reviewed and posted monthly.">
		<meta name="author" content="Benjamin Ostler">
		<meta name="keywords" content="Recognition, Signup, Hobbies, Spotlight">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Northridge Community Network</title>
	</head>
	<body class="content">
		<div id="wrapper">
			<header>
				<img src="/static/media/img/header.jpeg" alt="city view" height="100%" width="100%">
				<h1><a href="/static/templates/home.html">Northridge Community Network</a></h1>
			</header>
			<nav>
			<ul>
				<li><a href="/static/templates/home.html">Home</a></li>
				<li><a href="/static/templates/spotlight.html">Spotlight</a></li>
				<li><a href="/static/templates/nnews.html">Neighborhood News</a></li>
				<li><a href="/static/templates/cnews.html">City News</a></li>
				<li><a href="/static/templates/calendar.html">Calendar</a></li>
				<li><a href="/static/templates/bespotlight.html">Be a Spotlight</a></li>
				<li><a href="/static/templates/contact.html">Contact Us</a></li>
			</ul>
			</nav>
            <main>
                {% block content %}{% endblock %}
            </main>
        </div>
		<footer>
			<div>
				<a href="/static/templates/bespotlight.html">Be a Spotlight</a>
				<a href="/static/templates/contact.html">Contact Us</a>
			</div>
			Copyright &copy; 2020 Northridge Community Network<br>
			<a href="mailto:northridge@mesa.com">northridge@mesa.com</a>
		</footer>
	</body>
</html>
