{% extends 'base.html' %}

{% block content %}
<h2>Be A Spotlight</h2>
<p>
	If you would like to apply for the Northridge Neighborhood Spotlight of the month,
	enter and submit your information below.
	<br><br>
	Your application will be reviewed and may be used during one of the months during the year.
	You may only apply for Spotlight of the month once a year.
	<br><br>
	You will be notified if you are selected as the spotlight of the month!
	Required fields are marked with an asterisk *.
</p>
<img src="/static/media/img/spotlightbackground.jpg" alt="spotlight" height="auto" width="350%">
<p>
	<float=right>
		<form method="post" action="https://webdevbasics.net/scripts/demo.php">
			<label for="myFName">*First Name(s):</label>
			<input type="text" id="myFName" name="myFName" required="required">

			<label for="myLName">*Last Name:</label>
			<input type="text" id="myLName" name="myLName" required="required">

			<label for="ages">Age(s):</label>
			<input type="text" id="ages" name="ages">

			<label for="myEmail">*Email:</label>
			<input type="email" id="myEmail" name="myEmail" required="required">

			<label for="hobbies">*Hobbies:</label>
			<input type="text" id="hobbies" name="hobbies" required="required">

			<label for="funfacts">*Family Traditions, Favorite Foods, etc.:</label>
			<textarea id="text" name="funfacts" rows="2" cols="30" required="required"></textarea>

			<label for="contact">Contact Information:</label>
			<input type="text" id="contact" name="contact">

			<input type="submit" value="Submit">
		</form>
	</float>
</p>
{% endblock %}
