{% extends 'base.html' %}

{% block content %}
<h2>City News: Storms Wreak Havoc</h2>
<p>
	Recent storms caused dangerous circumstances for residents
	in Mesa and throughout the Valley.
	<br>
	One woman had a huge oak tree fall on her home.The police
	declared the home officially unsafe	until a crew takes care
	of the tree and repair on the house begins.
	<br>
</p>
<video controls="controls" width="320" height="240">
	<source src="/static/media/video/cnews.mp4" type="video/mp4">
	<a href="/static/media/video/cnews.mp4">Mesa City News</a>
	(.mp4)
</video>
{% endblock %}
