{% extends 'base.html' %}

{% block content %}
<h2>Contact Us</h2>
<p>We invite you to provide feedback, input, & ask any questions you may have below. </p>
<p>
	<form method="post" action="https://webdevbasics.net/scripts/demo.php">
		<label for="myFName">*First Name:</label>
		<input type="text" id="myFName" name="myFName" required="required">

		<label for="myLName">*Last Name:</label>
		<input type="text" id="myLName" name="myLName" required="required">

		<label for="myEmail">*Email:</label>
		<input type="email" id="myEmail" name="myEmail" required="required">

		<label for="myComments">*Comments:</label>
		<textarea id="myComments" name="myComments" rows="2" cols="30" required="required"></textarea>

		<input type="submit" value="Submit">
	</form>
</p>
<table>
	<tr>
		<th>Organization</th>
		<th>Contact Information</th>
		<th>Address</th>
		<th>Website</th>
	</tr>
	<tr>
		<td><h5>Northridge Neighborhood Representantive:</h5></td>
		<td>
			<h7>Phone: 480-861-2312</h7>
			<a href="mailto:northridge@mesa.com"><h7>northridge@mesa.com</h7></a>
		</td>
		<td><h7>2625 N 24th St. Mesa, AZ 85213</h7></td>
		<td><h7><a href="https://www.neighborhoods.com/estates-at-northridge-mesa-az">Northridge Neighborhood</a></h7></td>
	</tr>
	<tr>
		<td><h5>Mesa Municipal Court:</h5></td>
		<td><h7>Phone: 480-644-2255</h7></td>
		<td><h7>250 E 1st Ave, Mesa, AZ 85210</h7></td>
		<td><h7><a href="https://www.mesaaz.gov/city-hall/court">City Hall Courthouse</a></h7></td>
	</tr>
	<tr>
		<td><h5>Mesa Police Department:</h5></td>
		<td><h7>Phone: 480-644-2211</h7></td>
		<td><h7>130 N Robson, Mesa, AZ 85201</h7></td>
		<td><h7><a href="https://www.mesaaz.gov/residents/police">Police Department</a></h7></td>
	</tr>
</table>
{% endblock %}
