{% extends file='base.html' %}

{% block content %}
<div id="calendar">
	<h3>Upcoming Events:</h3>
	<ul>
   		<li><b>Fireworks Show - July 4:</b></li>
		The Independence Day Fireworks show at 7pm.
   		<li><b>Float Parade - July 5:</b></li>
		Floats made by local schools and Departments parade down Main street.
 		<a href="/static/templates/calendar.html"><h6>Click to see full calendar</h6></a>
	</ul>
</div>
<div id="spotlight">
	<img src="/static/media/img/creg&sondra.jpg" alt="current spotlight" height="100%" width="100%">
	<ul>
		<h3>Spotlight: Creg & Sondra Ostler</h3>
		<li><h7>Ages: 60 & 61</h7></li>
		<li><h7>Hobbies: Fishing, 90's Music, & Gardening</h7></li>
		<li><h7>Favorite Food: German Pancakes</h7></li>
		<li><a href="/static/templates/spotlight.html"><h7>See More</h7></a></li>
	</ul>
</div>
<div id="nnews">
	<float=left>
		<h3>Neighborhood News: Vehicle Access Gates</h3>
		<img src="/static/media/img/Northridgegate.jpg" alt="northridge" height="70%" width="70%">
	</float>
	<ul>
		<li>Vehicle access gates are under repair.</li>
		<li>Preventive Measures are being taken.</li>
		<li><a href="/static/templates/nnews.html"><h7>See More</h7></a></li>
	</ul>
</div>
<div id="cnews">
	<h3>City News: Storms Wreak Havoc</h3>
	<img src="/static/media/img/cnewsstorm.png" alt="Storm Victims" height="70%" width="100%">
	<a href="/static/templates/cnews.html"><h7>See More</h7></a>
</div>
{% endblock %}
