{% extends 'base.html' %}

{% block content %}
<h2>Neighborhood News</h2>
	<img src="Northridgegate.jpg" alt="northridge" height="100%" width="100%">
	<ul>
		<strong>Gates under Repair</strong>
		<br><br>
		<li>
			The gates were broken this past week. Repair is underway and will
			be done before the end of the week.
		</li>
		<li>
			The gates were broken this past week. Repair is underway and
			preventive measures are being taken.
		</li>
		<li>
			In order to prevent future damage of the gates, the Northridge
			Neighborhood Committee has ordered the installation of closed
			circuit video monitoring.
		</li>
		<li>
			Video monitoring will also discourage entry by salesman and
			other questionable characters.
		</li>
		<li>
			In the case of a crime the suspect's vehicle will easily be identified.
		</li>
	</ul>
<br>
<p>
	<h5>Subscribe to the Monthly Email Newsletter:</h5>
	<form method="post" action="https://webdevbasics.net/scripts/demo.php">

		<label for="myFName">*First Name:</label>
		<input type="text" id="myFName" name="myFName" required="required">

		<label for="myLName">*Last Name:</label>
		<input type="text" id="myLName" name="myLName" required="required">

		<label for="myEmail">*Email:</label>
		<input type="email" id="myEmail" name="myEmail" required="required">

		<label for="myComments">*Comments:</label>
		<textarea id="myComments" name="myComments" rows="2" cols="30" required="required"></textarea>

		<input type="submit" value="Submit">
	</form>
</p>
{% endblock %}
