{% extends 'base.html' %}

{% block content %}
<h2>Spotlight: Creg & Sondra Ostler</h2>
<div id="spotlightpg">
	<img src="ostlerfamily.jpg" alt="Family Picture" height="auto" width="auto">
	<ul>
		<li>Ages: 60 & 61</li>
		<li>Hobbies: Fishing, 90's Music, & Gardening</li>
		<li>
			Favorite Foods: German Pancakes, Lemonade Smoothies, Mexican Food
			(Rosa's Taqueria or Costa Vida), and Barbecued Chicken.
		</li>
		<li>
			Former Missionaries for The Church of Jesus Christ of Latter-day
			Saints in Austria, Philippines, and England.
		</li>
		<li>
			Creg Studied at Brigham Young University in Provo Utah then Studied
			Finance at the University of Chicago.
		</li>
		<li>Creg is the Former CEO of Stoker Ostler Wealth Advisors.</li>
		<li>Creg is from Redondo Beach, California. Sondra is from Bakersfield, California</li>
		<li>They have 7 children: 2 daughters and 5 sons.They have 18 grandchildren.</li>
		<li>Preferred Contact Method: Facebook</li>
	</ul>
	<br>
</div>
{% endblock %}
