body   {background-color: #EAEAEA;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	}
#wrapper {
	background-color: #90C7E3;
	background-image: linear-gradient(to bottom, #FFFFFF, #90C7E3);
	background-repeat: no-repeat;
	}
#cnews { display: grid;
           grid-template-columns: auto;
           grid-template-rows: 1fr 1fr; }

#nnews { display: grid;
           grid-template-columns: 1fr;
           grid-template-rows: 1fr;
	   }
#spotlight { display: grid;
           grid-template-columns: 180px auto;
           grid-template-rows: auto; }
#calendar { display: grid;
           grid-template-columns: auto;
           grid-template-rows: auto; }
#spotlightpg { display: grid;
           grid-template-columns: 1fr 1fr;
           grid-template-rows: 350px; }
#cnewspg { display: grid;
           grid-template-columns: 1fr 1fr;
           grid-template-rows: auto; }

header {background-color: #002171;
	color: #FFFFFF;
	text-align: center;
	}
header a		{text-decoration: none;}
header a:link		{color: #FFFFFF;}
header a:visited	{color: #FFFFFF;}
header a:hover		{color: #90C7E3;}

form { display: grid;
       grid-template-rows: auto;
       grid-template-columns: 6em 1fr;
       grid-gap: 1em; gap: 1em;
       background-color: #EAEAEA;
       font-family: Arial, sans-serif;
       width: 60%; min-width: 20em;
       padding: 2em; }

nav    {text-align: center;
	font-weight: bold;
	margin-top: 0;
	padding: 0;
	font-size: 110%;
	}

nav ul {list-style-type: none;
	margin:0;
	padding-left: 0;
	font-size: 1.2em;
	}

nav li {border-bottom: 1px solid #000033;}

nav a		{text-decoration: none;
		transition: 1s ease-out; }
nav a:link	{color: #5C7FA3;}
nav a:visited	{color: #344873;}
nav a:hover	{color: #A52A2A;}

main 	{padding: 1px 20px 20px 20px;
	display: block;
	background-color: #FFFFFF;
	padding-left: 30px;
	overflow: auto;
	}

h1     {margin-bottom: 0;
	margin-top: 0;
	font-family: Georgia, 'Times New Roman', Times, serif;
	letter-spacing: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	}

h2	{color: #1976D2;
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-shadow: 1px 1px 1px #CCCCCC;
	}

h3	{color: #000033;
	font-family: Georgia, 'Times New Roman', Times, serif;
	}
h4	{color: #000033;
	font-family: Georgia, 'Times New Roman', Times, serif;
	}
h5	{color: #000033;
	font-family: Georgia, 'Times New Roman', Times, serif;
	}
h6	{font-size: 65%;
	}
h7	{font-size: 75%;
	}
.network {color: #1976D2;
	 font-weight: bold;
	 }
.grid-container {
  display: grid;
  justify-content: space-between; }

#contact   {font-size: 90%;}

footer	{font-size: 75%;
	font-style: italic;
	text-align: center;
	font-family: Georgia, 'Times New Roman', serif;
	padding: 2em;
	background-color: #FFFFFF;
	}

#homehero	{height:300px;
		background-image: url(/static/media/img/);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		}

#spotlighthero	{height:300px;
		background-image:url(spotlight.jpg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		}

#nnewshero	{height:300px;
		background-image: url(nnews.jpg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		}
#cnewshero	{height:300px;
		background-image: url(cnews.jpg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		}
#calendarhero	{height:300px;
		background-image: url(calendar.jpg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		}
#contacthero	{height:300px;
		background-image: url(contact.jpg);
		background-repeat: no-repeat;
		background-size: 100% 100%;

		}
table {border:2px solid #3399CC;
	border-collapse:collapse;}

td, th {padding: 0;
	border: 2px solid#3399CC;
	}
td	{text-align: center; }

.text {text-align: left;}

video, embed { float: left; padding-left: 20px; }

tr:nth-of-type(odd) {background-color: #F5FAFC;}

form {display: flex;
	flex-flow: column nowrap;}

input, textarea {margin-bottom: 0.5em; }

@media (min-width: 600px) {
	nav ul {display: flex;
		flex-flow: row nowrap;
		justify-content: space-around; }

	nav li {border-bottom: none;}

	section {padding-left: 2em;
		padding-right: 2em; }

	.content main {	display:grid;
			grid-template-rows: auto auto;
			grid-template-columns: 1fr 1fr;}

	h2 {grid-row: 1 / 2; grid-column: 1 / 5; }
	section {grid-row: 2 / 3; grid-column: auto; }
	#special {grid-row: auto; grid-column: 1 / 5; }
	footer {grid-row: auto; grid-column: 1 / 5; }

	form{ display: grid;
		grid-gap: 1em;
		gap:1em;
		grid-template-columns: 6em 1fr;
		grid-template-rows: auto;
		width: 60%;
		}

	input[type="submit"] {grid-column: 2 / 3;
				width: 9em; }
	}

@media (min-width: 1024px) {
	nav ul {display: flex;
		flex-flow: column;
		padding-top: 1em;
		}

	nav {text-align:left;
		padding-left: 1em;}

	#wrapper {margin: auto;
		width: 80%;
		border: 1px solid #000033;
		box-shadow: 1px 1px #000033;
		display: grid;
		grid-template-columns: 180px 1fr;
		grid-template-rows: auto auto; }

	header 	{ grid-row: 1 / 2; grid-column: 1 / 3;}
	nav 	{ grid-row: 2 / 4; grid-column: 1 / 2;}
	main 	{ grid-row: 2 / 5; grid-column: 2 / 4;}
	footer 	{ grid-row: 5 / 6; grid-column: 2 / 4;}
	}
